{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 
        
{% endfor %}

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tab Titles -->
      <h2> Log In </h2>
    
      <!-- Login Form -->
      <form class="register-form" method="POST" action="">
        {% csrf_token %}

        <input type="text" class="fadeIn first" name="username" placeholder="Username">
        <input type="password" class="fadeIn second" name="password" placeholder="Password">
        <input type="submit" class="fadeIn third" value="Login">

      </form>
      <div id="form-error">{{form.errors}}</div>
  
      <div id="formFooter">
        <a class="underlineHover fadeIn fourth" href="{% url 'register' %}">Not Registered Yet?</a>
      </div>
  
    </div>
  </div>

{% endblock %}