{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tab Titles -->
      <h2> Sign Up </h2>
    
      <!-- Register Form -->
      <form class="register-form" method="POST">
        {% csrf_token %}

        <input type="text" id="form.username" class="fadeIn first" name="username" placeholder="Username" required>
        <input type="email" id="form.email" class="fadeIn second" name="email" placeholder="Email" required>
        <input type="password" id="form.password1" class="fadeIn third" name="password1" placeholder="Password">
        <input type="password" id="form.password2" class="fadeIn fourth" name="password2" placeholder="Please confirm password">
        <input type="submit" id="register-text" class="fadeIn fifth" value="Register">

      </form>
      <div id="form-error">{{form.errors}}</div>
  
      <div id="formFooter">
        <a class="underlineHover fadeIn sixth" href="{% url 'login' %}">Already Registered?</a>
      </div>
  
    </div>
  </div>

{% endblock %}