@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300&display=swap');

/* BODY, TITLES, BACK TO TOP BUTTON AND NAVBAR */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #1E1926; /* Highlight Palette of Main Color #0000FF */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.recipe-page-headings {
    font-size: 1.5rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    display: none;
    background-color: rgba(175, 168, 186, .8); /* Dust Palette color #AFA8BA in rgba of Main Color #0000FF */
    border: 1px solid rgba(30, 25, 38, .2); /* Highlight Palette color #1E1926 in rgba of Main Color #0000FF */
    color: #1E1926;
    z-index: 1;
  }

  #btn-back-to-top:hover {
    background-color: #9B1700; /* Threedom color #9B1700 of Main Color #0000FF */
    color: #FDF7FF;
  }

.bg-dark {
    background-color: #1E1926!important;
}

#welcome {
    max-width: 80%;
    margin-top: 10px;
}

h1 {
    color: #1E1926;
    text-align: center;
    font-size: 180%;
    margin: 0 auto;
    padding: 10px;
}

#second-heading {
    color: #1E1926;
    text-align: center;
    width: 30vw;
    margin: 20px auto 5px;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 0 0 #1E1926;
}

/* LINKS */

a {
    color: #9B1700;
}

.navbar-dark .navbar-nav .nav-link {
    transition: 0.4s;
    color: rgba(175, 168, 186, .8); 
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FDF7FF; /* Natural Palette color #FDF7FF of Main Color #0000FF */
}

a.btn-red {
    transition: 0.4s;
    color: rgba(175, 168, 186, .8);
}

a.btn-red:hover {
    color: #FDF7FF;
}

.card-body h2 {
    margin-top: 8px;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

span#auth-user {
    color: #FDF7FF;
}

span#unauth-user {
    color: #FDF7FF;
}

span#auth-user-lg {
    color: #FDF7FF;
}

span#unauth-user-lg {
    color: #FDF7FF;
}

.active-link {
    text-decoration: underline !important;
}

/* CAROUSEL */

.carousel-img {
    width: 80%;
    height: 50vh;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25%;
}

#carouselExampleIndicators {
    margin-top: 30px;
}

/* CARDS */

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.card {
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid rgba(30, 25, 38, .2);
}

.title-color {
    color: #9B1700;
}

.title-color:hover {
    color: #66BAA8; /* Twisted Spot Palette color #66BAA8 of Main Color #0000FF */
}

body a {
    text-decoration: none !important;
}

#recipe-unit-card {
    border: none;
    border-radius: 0;

}

#recipe-unit-card .card-img {
    border-radius: 0;
}

#large-card {
    text-align: center;
}

#large-card h5 {
    font-size: 3.25rem;
}

#large-card h6 {
    font-size: 2.5rem;
}

#large-card span {
    font-size: 1.5rem;
}

#large-card hr {
    border-top: 3px solid rgba(30, 25, 38, .4); 
    width: 30vw;
}

#card-row {
    align-items: center;
    
    background-color: rgba(46, 134, 158, .3); /* Small Switch Palette color #2E869E in rgba of Main Color #0000FF */
    color: #1E1926;
}

.card-col {
    padding-left: 0;
    padding-right: 0;
}

.card-col img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#card-img-fluid {
    width: 100% !important;
}

.card-img-overlay {
    background-color: rgba(30, 25, 38, .7);
    width: 90%;
    height: fit-content;
    margin: 15px 5px 0;
    border-radius: 3px;
    color: #FDF7FF;
}

/* PAGINATION */

#page-act {
    color: #9B1700;
    font-weight: bold;
    text-decoration: underline !important;
}

.page-inact {
    color: #2E869E;
}

.arrows {
    color: #1E1926;
}

/* CONTENT */

#recipe-content-wrapper {
    padding: 25px;
}

.instructions {
    text-align: justify;
}

#ingredients-area {
    text-align: left !important;
}

.recipe-text {
    background-color: rgba(30, 25, 38, .1);
    border-radius: 10px;
    padding: 25px;
}

.recipe-text-row {
    justify-content: space-evenly;
}

#recipe-unit-hr {
    border-top: 3px solid rgba(30, 25, 38, .4);
    width: 70vw;
}

#info-tags-div {
    width: 90%;
    margin: 0 auto;
}

.tag-button {
    pointer-events: none;
    background-color: rgba(46, 134, 158, .8);
    border-color: rgba(46, 134, 158, .1);
}

.small-tag {
    background-color: rgba(155, 23, 0, .7); /* Threedom color #9B1700 in rgba of Main Color #0000FF */
    border-radius: 5px;
    padding: 0 5px;
}

.big-tag {
    background-color: #FDF7FF;
    border-radius: 5px;
    padding: 3px;
}

.comment-background {
    background-color: rgba(30, 25, 38, .1);
    border-radius: 5px;
}

.comment-p {
    padding: 15px;
    margin-bottom: 0;
}

.comment-p2 {
    padding-top: 0;
}

/* LIKE BUTTON */

#like-div {
    width: 90%;
    margin: 0 auto;
}

.btn-primary {
    color: #9B1700;
    background-color: transparent;
    border: none;
    font-size: 1.5rem !important;
}

.btn-primary:hover {
    color: #9B1700;
    background-color: transparent !important;
    border: none !important;
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: none !important;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

#liked-button {
    color: #9B1700;
    background-color: transparent;
    border: none;
    font-size: 1.5rem !important;
}

/* ABOUT US */

.about-us {
    text-align: justify;
}

#about-us-hr {
    border-top: 3px solid rgba(30, 25, 38, .4); 
    width: 50vw;
    margin-top: 10px;
}

.about-us a:hover {
    color: #00CE9A; /* Matching Gradient color #00CE9A of Main Color #0000FF */
}

.about-us p {
    font-size: 1.5rem;
}

/* FOOTER */

.footer-container {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #1E1926;
    padding: 30px 0px;
    text-align: center;
}

.footer .row {
    width: 100%;
    height: 3vh;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: #FDF7FF;
    font-size: 0.8em;
    display: block;
}

.footer .row a {
    text-decoration: none;
    color: #FDF7FF;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #7B7485; /* Classy Palette color #7B7485 of Main Color #0000FF */
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        padding: 5% 2% 2% 2%;
    }

    .footer .row ul {
        padding: 0;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .footer .row {
        height: auto;
    }
}

/* GALLERY */

.gallery-wrapper {
    background: rgba(175, 168, 186, .8);
    margin: 0;
    padding: 3em 1em;
}
.gallery-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.gallery-wrapper li {
    margin-top: 10px;
    text-align: center;
}

.gallery-wrapper figure {
    margin: 0;
}
.gallery-wrapper figcaption {
    font-style: italic;
    font-size: 0.8em;
    color: #1E1926;
    line-height: 1.4;
}


.grid {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 90%; 
    grid-gap: 1em;
    -webkit-overflow-scrolling: touch;
    padding: 2em 1em;
    background: #FDF7FF;  
  }

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

.grid img:hover {
    background-color: #66BAA8;
}

.grid__figure {
    display: grid;
    grid-template-rows: 15em 1fr;
    grid-gap: 1em;
}


/* REGISTER FORM */


.register-form a {
    color: #00A6FF;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

#form-error {
    color: #FDF7FF !important;
    background-color: #9B1700 !important;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

/* STRUCTURE */

.wrapper {    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    padding: 20px;
}

.wrapper h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(30, 25, 38, .3);
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(30, 25, 38, .3);
    box-shadow: 0 30px 60px 0 rgba(30, 25, 38, .3);
    text-align: center;
}

#formFooter {
    background-color: #FDF7FF;
    border-top: 1px solid #FDF7FF;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* TABS */

h2.active {
    color: #1E1926;
    border-bottom: 2px solid #00A6FF;
}



/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #00A6FF;
    border: none;
    color: #FDF7FF;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(30, 25, 38, .4);
    box-shadow: 0 10px 30px 0 rgba(30, 25, 38, .4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #9B1700;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text],
textarea,
input[type=image],
input[type=file],
input[type=email],
input[type=password] {
    background-color: #FDF7FF;
    border: none;
    color: #1E1926;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #FDF7FF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
input[type=text]:focus {
    background-color: #FDF7FF;
    border-bottom: 2px solid #00A6FF;
}

.tox-tinymce {
    height: 374px !important;
    width: 68vw !important;
    margin: 0 auto !important;
    border-radius: 10px !important;
    margin-bottom: 15px !important;
}

.tox-notification {
    display: none !important;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fadeIn.fifth {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fadeIn.sixth {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #00A6FF;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #1E1926;
}

.underlineHover:hover:after {
    width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}

* {
    box-sizing: border-box;
}

.errorlist {
    list-style-type: none;
    padding: 0;
}

#recipeFormContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(30, 25, 38, .3);
    padding: 30px;
    width: 90%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(30, 25, 38, .3);
    box-shadow: 0 30px 60px 0 rgba(30, 25, 38, .3);
    text-align: center;
    width: 80vw;
}

input[type=text], textarea, input[type=image], input[type=email], input[type=password] {
    text-align: justify;
}

input[type=submit] {
    cursor: pointer;
}

label p {
    margin-top: 6px;
    margin-bottom: 0;
}

#image-file {
    width: 50% !important;
    margin: 0 auto;
}

.recipe-form {
    padding-left: 10px !important;
}

/* CREATE AND UPDATE FORMS */

.create-recipe {
    margin-top: 15px !important;
}

#update-recipe p label {
    display: block;
    text-transform: uppercase;
}

#inst-label {
    text-transform: uppercase;
} 

#update-recipe p a {
    color: #0000FF; /* Main Color #0000FF */
}

#update-recipe #id_food_image{
    width: 50vw;
}

#id_instructions_ifr {
    background-color: #FDF7FF;
}


/* MESSAGES */

.alert-success {
    text-align: center;
    width: 80%;
    margin: 30px auto 0 auto;
}

#msg {
    margin-bottom: 25px;
}

/* EDIT DELETE BUTTONS */

#edit-button button {
    background-color: #9B1700;
    border-color: rgba(30, 25, 38, .8);
    color: #FDF7FF;
}

#edit-button button:hover {
    background-color: rgba(30, 25, 38, .4);
    border-color: rgba(30, 25, 38, .8);
    color: #1E1926;
}

#del-button button {
    background-color: #9B1700;
    border-color: rgba(30, 25, 38, .8);
    color: #FDF7FF;
}

#del-button button:hover {
    background-color: rgba(30, 25, 38, .4);
    border-color: rgba(30, 25, 38, .8);
    color: #1E1926;
}

/* DELETE FORM */

#delete-recipe-wrapper{
    background-color: #AFA8BA;
}

#delete-recipe {
    color: #1E1926;
    padding: 30px;
}

#delete-recipe-form {
    text-align: center;
}

#delete-recipe-form p {
    font-size: 3rem;
}

#go-back {
    color: #9B1700;
    margin-right: 10px;
}

#go-back:hover {
    color: #FDF7FF;
}

/* COMMENT FORM */

.comment-section {
    margin-left: 15px !important;
}

#comment-form {
    background-color: rgba(46, 134, 158, .6);
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea.comment-section {
    margin-top: 15px !important;
}

input.comment-section {
    margin-bottom: 15px !important;
}

ul#id_tags {
    list-style: none;
    text-align: left;
    width: 70vw;
    margin: 0 auto;
}

#tags-p {
    width: 68vw;
    margin: 0 auto;
    text-align: left;
}

label.fifth {
    width: 68vw;
    margin: 0 auto;
    text-align: left;
}

.info {
    font-size: 150% !important;
    width: 30vw;
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgba(30, 25, 38, .7);
    color: #FDF7FF;
}

.info h5 {
    text-transform: uppercase;
    padding-top: 5px;
}

#join-us {
    color: #FDF7FF;
}

#join-us:hover {
    color: #00CE9A;
}

/* MEDIA QUERIES */

/* INDEX PAGE */

@media (min-width:1024px) {
    /* Pagination */
    .pagination {
        font-size: 1.25rem !important;
    }
}

@media (max-width:991px) {
    /* Carousel */
    .info h5 {
        font-size: .9rem;
        padding-right: 3px;
        padding-left: 3px;
    }

    .info p {
        font-size: 70% !important;
    }

    .carousel-img {
        height: 30vh;
    }
    /* Second heading */
    #second-heading {
        font-size: 1.5rem;
        width: 50vw;
        margin: 15px auto 0;
    }
    /* Recipe cards */
    .recipe-card-padding {
        padding-right: 5px;
        padding-left: 5px;
    }
    
}

@media (max-width:767px) {
    /* h1 */
    #welcome {
        max-width: 90%;
        margin-top: 10px;
    }
    #carouselExampleIndicators {
        margin-top: 0px;
    }
    /* Recipe card image */
    .card-img-top {
        height: 30vh;
    }
    /* Recipe cards */
    .recipe-card-padding {
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media (max-width:480px) {
    /* Carousel */
    .carousel-img {
        height: 20vh;
    }
    /* h1 */
    h1 {
        font-size: 1.2rem;
    }
    /* Second title */
    #second-heading {
        font-size: 1rem;
        width: 60vw;
    }
     /* Recipe card image */
     .card-img-top {
        height: 25vh;
    }
    /* Recipe cards */
    .recipe-card-padding {
        padding-right: 30px;
        padding-left: 30px;
    }
    /* Messages */
    .alert-success {
        font-size: .85rem;
        width: 95%;
    }
}

@media (max-width:380px) {
    /* Recipe card image */
    .card-img-top {
        height: 20vh;
    }
}

/* RECIPE PAGE */

@media (max-width:1400px) {
    /* Card */
    #large-card h5 {
        font-size: 3rem;
    }

    #large-card h6 {
        font-size: 1.8rem;
    }

    #large-card span {
        font-size: 1.2rem;
    }
    
}

@media (max-width:1200px) {
    /* Card */
    #large-card h5 {
        font-size: 2.5rem;
    }

    #large-card h6 {
        font-size: 1.2rem;
    }

    #large-card span {
        font-size: 1rem;
    }
    
}

@media (max-width:992px) {
    /* Card */
    #large-card h5 {
        font-size: 2rem;
    }

    #large-card h6 {
        font-size: 1rem;
    }

    #large-card span {
        font-size: 0.8rem;
    }

    #comment-heading {
        padding: 5px;
    }

    /* Instructions */
    #recipe-inst {
        margin-top: 15px;
    }
    /* Info-Tags-Div */
    #info-tags-div {
        width: 100%;
    }
    /* Likes-Div */
    #like-div {
        width: 100%;
    }

}

@media (max-width:700px) {
    /* Recipe Headings */
    .recipe-page-headings {
        font-size: 1.1rem;
    }
    /* Recipe paragraphs */
    #recipe-content-wrapper p {
        font-size: .9rem;
    }
    /* Recipe buttons */
    #recipe-content-wrapper button {
        font-size: .8rem;
        padding: 3px;
        margin-bottom: 3px;
    }
    /* Recipe textarea */
    #recipe-content-wrapper textarea {
        font-size: .9rem;
    }
}

/* FORMS */

@media (max-width:767px) {
    input[type=text],
    input[type=email],
    input[type=password],
    textarea,
    input[type=image],
    input[type=file] {
        font-size: .8rem;
        padding-left: 10px;
    }

    #update-recipe ul, #update-recipe label {
        font-size: .8rem;
    }

    #recipeFormContent h2 {
        font-size: 20px;
    }

    #recipeFormContent p {
        font-size: .8rem;
    }

    #image-file {
        width: 90% !important;
    }

    input[type=file] {
        padding-left: 8px !important;
        padding-right: 0 !important;
    }

    input[type=submit] {
        margin: 15px auto 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* ABOUT US */

@media (max-width:767px) {
    .about-us p {
        font-size: 1rem;
    }
}

/* GALLERY */

@media (min-width: 600px) {
    .grid {
        grid-auto-flow: initial;
        grid-template-columns: repeat(auto-fit, minmax(auto,20em));
        justify-content: center;
    }
}

@media (max-width:599px) {
    .grid {
        overflow-x: scroll
    }
}

/* DELETE PAGE */

@media (max-width:480px) {
    #delete-recipe-form p {
        font-size: 2rem;
    }
}

