@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#welcome {
    background: #212529;
    border-radius: 5px;
    max-width: 80%;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 180%;
    margin: 0 auto;
    padding: 10px;
}

/* LINKS */

.navbar-dark .navbar-nav .nav-link {
    transition: 0.4s;
    color: rgba(255, 255, 255, .5);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.card-body h2 {
    margin-top: 8px;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

span#user {
    color: #fff;
}

/* CAROUSEL */

.carousel-img {
    width: 80%;
    height: 50vh;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25%;
}

/* CARD */

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: calc(0.25rem - 1px);
}

.card {
    margin: 0 auto;
    margin-bottom: 5px;
}

.card-title {
    color: brown;
}

.card-title:hover {
    color: blue;
}

body a {
    text-decoration: none !important;
}

/* JUMBOTRON */

.jumbotron {
    background: no-repeat center;
}

.jumbotron hr {
    border-top: 3px solid rgba(0, 0, 0, .4);
    width: 40vw;
}

.display-4 {
    font-size: 3rem
}

.jumbo-title {
    margin-top: 25px
}

.jumbo-text {
    text-align: center;
}

.jumbotron h1,
.jumbotron p {
    color: black
}

.jumbo-mask {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
    width: 70%;
    height: 30vh;
    margin: 0 auto;
}

@media screen and (min-width:820px) {
    .jumbotron {
        background-size: cover;
        height: 60vh;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {
    .display-4 {
        font-size: 2rem;
    }
}

/* CONTENT */

.instructions {
    text-align: justify;
}

#comment-background {
    background-color: rgba(33, 37, 41, .1);
    border-radius: 5px;
}

.comment-p {
    padding: 15px;
    margin-bottom: 0;
}

#comment-p2 {
    padding-top: 0;
}

/* FOOTER */

.footer-container {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    background: #212529;
    padding: 30px 0px;
    text-align: center;
}

.footer .row {
    width: 100%;
    height: 3vh;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
    display: block;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        padding: 5% 2% 2% 2%;
    }

    .footer .row ul {
        padding: 0;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .footer .row a i {
        margin: 0% 3%;
    }

    .footer .row {
        height: auto;
    }
}

/* Register form */


.register-form a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

/* STRUCTURE */

.wrapper {    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    padding: 20px;
}

.wrapper h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(33, 37, 41, .3);
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}



/* TABS */

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text],
textarea,
input[type=image],
input[type=file],
input[type=email],
input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
    color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fadeIn.fifth {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fadeIn.sixth {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 60%;
}

* {
    box-sizing: border-box;
}

.errorlist {
    list-style-type: none;
    padding: 0;
}

#recipeFormContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(33, 37, 41, .3);
    padding: 30px;
    width: 90%;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80vw;
}

input[type=text], textarea, input[type=image], input[type=email], input[type=password] {
    text-align: justify;
}

label p {
    margin-top: 6px;
    margin-bottom: 0;
}

#image-file {
    width: 50% !important;
    margin: 0 auto;
}

.recipe-form {
    padding-left: 10px !important;
}

.create-recipe {
    margin-top: 15px !important;
}

.edit-del-buttons {
    padding: 5px;
}