{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for message in messages %}
<div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" id="msg" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 
        
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 id="second-heading">To contact site administrator, please fill out the form</h2>
        </div>
    </div>
</div>

<div class="contact-wrapper fadeInDown">
    <div id="formContent">
      <!-- Title -->
      <h2 id="contact-heading"> Contact </h2>
    
      <!-- Login Form -->
      <form class="register-form" method="POST">
        {% csrf_token %}

        <input type="text" class="fadeIn first" name="name" placeholder="Name">
        <input type="email" class="fadeIn second" name="email" placeholder="Email">
        <textarea class="fadeIn third" name="body" placeholder="Write your message here"></textarea>
        <input type="submit" id="login-text" class="fadeIn third" value="Send">

      </form>
      <div id="form-error">{{form.errors}}</div>
  
    </div>
  </div>

{% endblock %}