<div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Privacy Policy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>
                            Venezuelan Recipes Cookbook collects usernames, emails, passwords, recipes and comments.
                        </li>
                        <li>
                            The information collected is stored in a postgres datebase.
                        </li>
                        <li>
                            The information is colected by forms filled out by registered users.
                        </li>
                        <li>
                            The information collected <strong>is not</strong> shared with nor sold to any third party.
                        </li>
                        <li>
                            Users have the right to delete their data at any given time and records will be fully
                            deleted.
                        </li>
                        <li>
                            Should you have any questions please contact the site manager at
                            <em>leo_sime@yahoo.com</em>.
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="terms-conditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    As a condition of use, you promise not to use the Services for any purpose that is unlawful or
                    prohibited by
                    these Terms, or any other purpose not reasonably intended by Venezuela Recipes CookBook. By way of
                    example, and not as a
                    limitation, you agree not to use the Services:
                    <hr>
                    <ol>
                        <li>
                            To abuse, harass, threaten, impersonate or intimidate any person.
                        </li>
                        <li>
                            To post or transmit, or cause to be posted or transmitted, any Content that is libelous,
                            defamatory,
                            obscene, pornographic, abusive, offensive, profane, or that infringes any copyright or other
                            right of any
                            person.
                        </li>
                        <li>
                            To communicate with Venezuela Recipes CookBook representatives or other users in an abusive
                            or offensive manner.
                        </li>
                        <li>
                            For any purpose (including posting or viewing Content) that is not permitted under the laws
                            of the
                            jurisdiction where you use the Services.
                        </li>
                        <li>
                            To post or transmit, or cause to be posted or transmitted, any Communication designed or
                            intended to
                            obtain password, account, or private information from any Venezuela Recipes CookBook user.
                        </li>
                        <li>
                            To create or transmit unwanted 'spam' to any person or any URL.
                        </li>
                        <li>
                            To create multiple accounts for the purpose of voting for or against users' Visual Content.
                        </li>
                        <li>
                            To post copyrighted Content that does not belong to you, unless you are commenting on Visual
                            Content
                            in Blogs, where you may post such Content subject to providing appropriate attribution to
                            the copyright
                            owner and a link to the source of the Content.
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>