{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" id="msg" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div id="recipe-unit-card" class="card bg-dark text-white d-md-none d-sm" style="max-width: 900px;">
    {% if "default-image" in recipe_object.food_image.url %}
    <img src="{% static 'images/default-image.jpg' %}" class="card-img" alt="Default Image" />
    {% else %}
    <img src="{{ recipe_object.food_image.url }}" class="card-img" alt="Recipe Image" />
    {% endif %}
    <div class="card-img-overlay">
        <h5 class="card-title">{{recipe_object.title}}</h5>
        {% if tags %}
        {% for tag in tags %}
        <span id="small-tag" class="card-text">{{tag}}</span>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container-fluid d-none d-md-block">
    <div id="card-row" class="row">
        <div class="card-col col-6">
            {% if "default-image" in recipe_object.food_image.url %}
            <img src="{% static 'images/default-image.jpg' %}" id="card-img-fluid" class="img-fluid large-image"
                alt="...">
            {% else %}
            <img src="{{ recipe_object.food_image.url }}" id="card-img-fluid" class="img-fluid large-image" alt="...">
            {% endif %}
        </div>
        <div id="large-card" class="col-6">
            <h5>{{recipe_object.title}}</h5>
            <hr>
            <h6>{{recipe_object.short_description}}</h6>
            {% if tags %}
            <hr>
            {% for tag in tags %}
            <span id="big-tag">{{tag}}</span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<br>
<hr id="recipe-unit-hr">
<div id="recipe-content-wrapper" class="container-fluid">

    <div class="row recipe-text-row">
        <div class="col-lg-5 recipe-text">
            <h2 class="recipe-page-headings">Ingredients:</h2>
            <p id="ingredients-area">{{recipe_object.ingredients|linebreaksbr}}</p>
        </div>
        <div id="recipe-inst" class="col-lg-5 recipe-text">
            <h2 class="recipe-page-headings">Instructions for Preparation:</h2>
            <p class="instructions">{{recipe_object.instructions|safe}}</p>
        </div>
    </div>

    <br>
    
    
    <div id="info-tags-div">
        {% if tags %}
        <h3 class="recipe-page-headings">This recipe is recommended for:</h3>
        <div>
            {% for tag in tags %}
            <span>
                <button type="button" id="tag-button" class="btn btn-info">
                    {{tag}}
                </button>
            </span>
            {% endfor %}
        </div>
        {% endif %}

        <br>

        <p><strong>Recipe created by {{recipe_object.creator}}</strong></p>
        <p><em>Recipe date of publication: {{recipe_object.created}}</em></p>

        {% if user.is_authenticated %}
        {% if user == recipe_object.creator %}
        <div>
            <a id="edit-button" href="{% url 'update-recipe' recipe_object.id %}"><button type="button"
                    class="btn btn-info">Edit Recipe</button></a>
            <a id="del-button" href="{% url 'delete-recipe' recipe_object.id %}"><button type="button"
                    class="btn btn-danger">Delete
                    Recipe</button></a>
        </div><br>
        {% endif %}
        {% endif %}
    </div>

    <hr>

    <div class="row recipe-text-row">

        {% if user.is_authenticated %}
        <div class="col-lg-5">
            <form action="" method="POST" id="comment-form" class="register-form">
                {% csrf_token %}
                <textarea name="body" id="form.body" class="recipe-form comment-section" rows="6"
                    placeholder="Leave your comment here"></textarea>
                <input class="comment-section" type="submit" value="Comment">
            </form>
        </div>
        {% endif %}

        <div class="col-lg-5">
            <h3 class="recipe-page-headings" id="comment-heading">Comments:</h3>
            {% if comments %}
            {% for comment in comments %}
            <div id="comment-background">
                <p class="comment-p">{{comment.body}}</p>
                <p id="comment-p2" class="comment-p">Comment made by {{comment.name}} on {{comment.created}}</p>
            </div>
            <hr>
            {% endfor %}

            {% else %}
            <h4 class="recipe-page-headings">Be the first one to comment on this recipe!</h4>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}