{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="wrapper fadeInDown">
  <div class="new-recipe" id="recipeFormContent">
    <!-- Form Title -->
    <h2> Create Recipe </h2>
    <form class="register-form" id="update-recipe" method="POST" action="" enctype="multipart/form-data">

      {% csrf_token %}

      <input type="text" name="title" id="form.title" class="fadeIn first recipe-form" placeholder="Recipe Title">
      <input type="text" name="short_description" id="form.short_description" class="fadeIn second recipe-form"
        placeholder="Recipe Short Description">
      <textarea name="ingredients" id="form.ingredients" class="fadeIn third recipe-form" rows="6"
        placeholder="Recipe Ingredients"></textarea>
        <div class="fadeIn fourth">
        {{form.instructions}}
      </div>
      <p id="tags-p" class="fadeIn fourth">Tags:</p><br>
      <div id="tags-div" class="fadeIn fifth">

        {{form.tags}}

      </div>
      <div class="fadeIn fifth">
        <label for="form.food_image">
          Select Image <br>
          <p><i class="fa fa-2x fa-camera"></i></p>
        </label>
      </div>
      <div id="image-file" class="fadeIn fifth">
        <input name="food_image" id="form.food_image" class="recipe-form" type="file">
      </div>
      <input type="submit" class="fadeIn sixth create-recipe" value="Create Recipe">

    </form>
    <div id="form-error">
      {{form.errors}}
    </div>
  </div>
</div>
{% endblock %}