{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper fadeInDown">
    <div class="new-recipe" id="recipeFormContent">
      <!-- Tab Titles -->
      <h2> Create Recipe </h2>

      <!-- Create new recipe Form -->
      <form class="register-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div>{{form.title.label}}</div>
        <div class="recipe-form-fieds">{{form.title}}</div>
        <div>{{form.short_description.label}}</div>
        <div class="recipe-form-fieds">{{form.short_description}}</div>
        <div>{{form.ingredients.label}}</div>
        <div class="recipe-form-fieds">{{form.ingredients}}</div>
        <div>{{form.instructions.label}}</div>
        <div class="recipe-form-fieds">{{form.instructions}}</div>
        <div>{{form.food_image.label}}</div>
        <div>{{form.food_image}}</div>


        <input type="submit" class="fadeIn fourth" value="Create Recipe">
        
      </form>
      <div id="form-error">{{form.errors}}</div>
  
  
    </div>
  </div>

{% endblock %}