{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper fadeInDown">
  <div class="new-recipe" id="recipeFormContent">
    <!-- Form Title -->
    <h2> Update Recipe </h2>
    <form class="register-form" id="update-recipe" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p  class="fadeIn first">
        <label for="id_title">{{ form.title.label }}</label>
        {{ form.title }}
      </p>
      <p class="fadeIn second">
        <label for="id_short_description">{{ form.short_description.label }}</label>
        {{ form.short_description }}
      </p>
      <p  class="fadeIn third">
        <label for="id_ingredients">{{ form.ingredients.label }}</label>
        {{ form.ingredients }}
      </p>
      <div id="inst-label" class="fadeIn fourth">
        <label for="id_instructions">{{ form.instructions.label }}</label>
        {{ form.instructions }}
      </div>
      <p id="tags-p" class="fadeIn fourth">Tags:</p><br>
      <div id="tags-div" class="fadeIn fifth">

        {{form.tags}}

      </div>

      <div class="fadeIn fifth">
        <label for="form.food_image">
          Select Image <br>
          <i class="fa fa-2x fa-camera"></i>
        </label>
      </div>
      <div id="image-file" class="fadeIn fifth">
        <input name="food_image" id="form.food_image" class="recipe-form" type="file">
      </div>

      
      <input type="submit" id="update-text" class="fadeIn sixth create-recipe" value="Update Recipe">
    </form>
    <div id="form-error">{{form.errors}}</div>
  </div>
</div>

{% endblock %}